ul.shape-repository > li{
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}
.drag-helper {
    position: absolute;
    z-index: 999;
}